.menu {
    display: flex;
    justify-content: space-between;
}

.page-wrapper {
    overflow: hidden;
}


.game-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0C0C24;
}

.header-wrapper {
    margin-bottom: 32px;
    padding-bottom: 14px;
}


song-progress {
    margin-bottom: 42px;
}

song-title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.debug {
    color: white;
    font-size: 12px;
}

progress-bar {
    max-width: 200px;
    width: 100%;
}


speech-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.micro-container {
    position: relative;
}
.micro {
    z-index: 9999;
    position: absolute;
    border-radius: 50%;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -46%);
    width: 65px;
    height: 65px;
}


.song-lines {
    width: 100%;
    height: 164px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 32px 32px;
    overflow: hidden;
}

.song-line-wrapper {
    transition: color 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 320px;
    .current {
        height: 88px;
    }
    .completed, .prepared {
        height: 38px;
    }
}
.song-line-wrapper[data-status="right"] {
    color: var(--blue);
    font-weight: 700;
}
.song-line-wrapper[data-status="wrong"] {
    color: var(--red);
}

.song-line-wrapper[data-status="completed"] {
    .current {
        color: #4EC6E4;
    }
}

.hidden {
    opacity: 0;
}

.current {
    color : #E6E6E6;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "RobotoMedium";
}

.prepared, .completed {
    color: #717183;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
