<div class="wrapper">
	<div class="header-wrapper">
		<button class="back-btn">
			<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8 15L1 8L8 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>            
		</button>
		<p>Выбери песню</p>
		<button class="search-btn">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 19L13 13L19 19ZM15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>				
		</button>
	</div>
	<button class="choose-blue-btn">Добавить свой текст</button>
	
	<div class="games-list">
		<div class="song" (click)="goGame(i)" *ngFor="let song of songs; let i = index">
			<p>{{song.artist}} - {{song.title}}</p>
			<img src={{song.label}} alt="">
		</div>
	</div>
</div>
