h1 {
    text-align: center;
    color: white;
}

.song {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #31333D;
    margin-bottom: 24px;
    border-radius: 6px;
    p, h2 {
        color: white;
        font-size: 16px;
    }
    img {
        border-radius: 6px;
    }
}
