

h1 {
    text-align: center;
    color: white;
}

.games-list {
    overflow: scroll;
}

.song {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31333D;
    margin-bottom: 24px;
    border-radius: 6px;
    p, h2 {
        color: white;
        font-size: 16px;
    }
    img {
        margin-left: 8px;
        border-radius: 6px;
    }
}

.choose-blue-btn {
    margin-bottom: 33px;
}
