<div class="song-progress-wrapper">
    <div class="song-progress song-progress_right">
        <p class="song-progress__title">Right</p>
        <p class="song-progress__count">{{right}}</p>
    </div>
    <div class="song-progress song-progress_wrong">
        <p class="song-progress__title">Wrong</p>
        <p class="song-progress__count">{{wrong}}</p>
    </div>
    <div class="song-progress song-progress_lines">
        <p class="song-progress__title">Lines</p>
        <p class="song-progress__count">{{completed}}/{{length}}</p>
    </div>
</div>