.progress-bar-container {
   background-color: #EFEFEF;
   border-radius: 6px;
}
.progress-bar {    
    height: 12px;
    border-radius: 6px;
    background: linear-gradient(45.4deg, #007BD5 0%, #3DA8FF 53.5%, #00B9F1 92.54%);
 }
