.context {
    display: flex;
    flex-direction: column;
    textarea {
        background-color: #31333D; 
        resize: none;
        border-radius: 6px;
        outline: none;
        margin-bottom: 25px;
        border: none;
    }
    .spantext {
        color: #FFFFFF;
    }
    .spantext {
        font-size: 12px;
        margin-bottom: 8px;
    }
}

.title-input {
    font-size: 18px;
    height: 28px;
    padding: 8px 8px 4px 8px;
    color: #FFFFFF;
}

.text-input {
    color: #717183;
    font-size: 18px;
    padding: 10px 36px 12px 22px;
    height: 328px;
}


