.cat-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 343px;
    margin: 0 auto;
}

.cat-animation {
    position: absolute;
    top: 9px;
    left: 102px;
}
.circle-animation {
}
