.cat-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 343px;
}

.cat-animation {
    position: absolute;
    top: 9px;
    left: 102px;
}
.circle-animation {
}