/* You can add global styles to this file, and also import other style files */
@import url('./theme/variables.scss');
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
:host{
    background: #4285f4;
    color:#fff;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100  
}

:root {
    // fonts
    --font-main: 'Roboto', sans-serif;

    //colors
    --accent-color: #758FEA;
    --button-menu-bg: #EAEAEA;
    --button-active-text: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    height: calc(var(--vh, 1vh) * 100);
    padding: 26px 16px 24px 16px;
    box-sizing: border-box;
    background-color: #0C0C24;
    overflow: scroll;
}

.page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
    p {
        color: white;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 1px;
        margin-left: 17px;
    }
}

.back-btn {
    padding-top: 4px;
    background-color: transparent;
    color: white;
    border: none;
}

.search-btn {
    padding-top: 3px;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: auto;
}

.choose-blue-btn {
    width: 100%;
    border-radius: 100px;
    background: linear-gradient(45.4deg, #007BD5 0%, #3DA8FF 53.5%, #00B9F1 92.54%);
    padding: 15px;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}


