/* You can add global styles to this file, and also import other style files */
@import url('./theme/variables.scss');

:root {
    // fonts
    --font-main: 'Roboto', sans-serif;

    //colors
    --accent-color: #758FEA;
    --button-menu-bg: #EAEAEA;
    --button-active-text: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    box-sizing: border-box;
    background-color: #0C0C24;
}

.wrapper {
    height: calc(100% - 130px);
    padding: 15px 15px 42px 15px;
}


