<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speech recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p class="instructions">Input text to recognize in a box below</p>
    <ion-item>
      <ion-input [(ngModel)]="inputValue"></ion-input>
    </ion-item>
    <div class="output-text">
      <p>{{resultText}}</p>
    </div>
    <ion-fab-button (click) = "speak()" class = "micro-btn">
      <ion-icon name="mic-outline" class="micro"></ion-icon>
    </ion-fab-button>
    <div class="debug">
      <p class ="test" >на информацию ниже не обращайте внимания :)</p>
      <p *ngIf = "isStop">{{inputString}}</p>
      <p *ngIf = "isStop">{{result}}</p>
      <p *ngIf = "isStop">{{recognized}}</p>
    </div>
    
  </div>
</ion-content>
