<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speech recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Перед стартом распознавания проверьте есть ли разрешение на запись голоса.</p>
    <ion-item>
      <ion-label position="stacked">Input text to recognize</ion-label>
      <ion-input [(ngModel)]="inputValue"></ion-input>
    </ion-item>
    <ion-button (click) = "requestPermission()">Request permission</ion-button>
    <ion-button (click) = "checkPermission()">Check permission</ion-button>
    <ion-button (click) = "speak()">Start listening</ion-button>
    <!-- <ion-button (click) = "stop()">Stop listening</ion-button> -->
    <br>
    <p *ngIf = "isStop">{{inputString}}</p>
    <p *ngIf = "isStop">{{result}}</p>
    <p *ngIf = "isStop">{{recognized}}</p>
  </div>
</ion-content>
